//Custom Mixins


/* Gradient
====================================================================
====================================================================*/
@function convert-angle($value, $unit) {
  $convertable-units: deg grad turn rad;
  $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
  @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
    @return $value
             / nth($conversion-factors, index($convertable-units, unit($value)))
             * nth($conversion-factors, index($convertable-units, $unit));
  }
  
  @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}

/// Test if `$value` is an angle
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
  
  @return $is-direction or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
  }
  
  $conversion-map: ( 
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );
    
  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }
  
  @return 90deg - convert-angle($value, 'deg');
}

/// Mixin printing a linear-gradient 
/// as well as a plain color fallback 
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }
  
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}




/* Transition
====================================================================
====================================================================*/
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}





/* Opacity
====================================================================
====================================================================*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}





/* CSS Mask
====================================================================
====================================================================*/
@mixin mask-image($mask) {
  -webkit-mask-image: $mask;
  -o-mask-image: $mask;
  -moz-mask-image: $mask;
  mask-image: $mask;
}

@mixin mask-size($mask) {
  -webkit-mask-size: $mask;
  -o-mask-size: $mask;
  -moz-mask-size: $mask;
  mask-size: $mask;
}





/* Border Raduis
====================================================================
====================================================================*/
@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}




/* Shadows
====================================================================
====================================================================*/
@mixin shadow($shadow1:rgba(0,0,0,0)) {
  -webkit-box-shadow: $shadow1;
  -moz-box-shadow:    $shadow1;
  box-shadow:         $shadow1;
}



@mixin text-shadow($shadow1:rgba(0,0,0,0), $shadow2:rgba(0,0,0,0), $shadow3:rgba(0,0,0,0)) {
  -webkit-text-shadow: $shadow1, $shadow2, $shadow3;
  -moz-text-shadow:    $shadow1, $shadow2, $shadow3;
  text-shadow:         $shadow1, $shadow2, $shadow3;
}


/* Transforms
====================================================================
====================================================================*/
// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}





/* Columns
====================================================================
====================================================================*/


@mixin column-count($column-count) {
    -webkit-column-count: $column-count; 
    -moz-column-count: $column-count; 
    column-count: $column-count;
}

@mixin column-gap($column-gap) {
    -webkit-column-gap: $column-gap; 
    -moz-column-gap: $column-gap; 
    column-gap: $column-gap;
}