
//Fonts


@font-face {
    font-family: 'EarthOrbiter';
    src: url('/wp-content/themes/ferrycorsten/fonts/earthorbiter/earthorbitertitle-webfont.eot');
    src: url('/wp-content/themes/ferrycorsten/fonts/earthorbiter/earthorbitertitle-webfont.eot') format('embedded-opentype'),
         url('/wp-content/themes/ferrycorsten/fonts/earthorbiter/earthorbitertitle-webfont.woff2') format('woff2'),
         url('/wp-content/themes/ferrycorsten/fonts/earthorbiter/earthorbitertitle-webfont.woff') format('woff'),
         url('/wp-content/themes/ferrycorsten/fonts/earthorbiter/earthorbitertitle-webfont.ttf') format('ttf'),
         url('/wp-content/themes/ferrycorsten/fonts/earthorbiter/earthorbitertitle-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'payson';
    src: url('/wp-content/themes/ferrycorsten/fonts/payson/paysonwf-webfont.eot');
    src: url('/wp-content/themes/ferrycorsten/fonts/payson/paysonwf-webfont.eot') format('embedded-opentype'),
         url('/wp-content/themes/ferrycorsten/fonts/payson/paysonwf-webfont.woff2') format('woff2'),
         url('/wp-content/themes/ferrycorsten/fonts/payson/paysonwf-webfont.woff') format('woff'),
         url('/wp-content/themes/ferrycorsten/fonts/payson/paysonwf-webfont.ttf') format('ttf'),
         url('/wp-content/themes/ferrycorsten/fonts/payson/paysonwf-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
