// ADDITIONAL COLORS
$main-color: white;
$secondary-color: #414448;
$tertiary-color:  #737376;
$quarternary-color: #384861;
$accent-red:  #b72727;
$accent-blue: #3366cc;
$primary-blue: #49a7c0;

// Fonts
$title-font: 'EarthOrbiter', sans-serif;

/* General
====================================================================
====================================================================*/
$global-padding: 1rem;
$global-margin: 1rem;


body { 
			height: 100%; 
			background-image: url( "/wp-content/themes/ferrycorsten/images/starfield.png"); 
			background-size: cover;
}


h1 { font-family: $title-font; color: $main-color; }
h2 { color: $accent-red; font-size: 2rem; text-align: center; margin-bottom: 2rem; }


.inline-list{
	ul{ list-style-type: none; text-align: center; }
	li{  display: inline-block; margin: .15rem; font-size: 1rem; vertical-align:middle;
		i { border-radius: 50%; border: 2.5px solid $main-color; color: $main-color; width: 2.35rem; height: 2.35rem; display: table-cell; vertical-align: middle; text-align: center; } 
	}
}


.padding-bottom { padding-bottom: $global-padding*2; }
.content-margin { margin-bottom: $global-margin*2; }
.content-margin-xtra-large { margin-bottom: $global-margin*4; }

/* VARS
============================= */



/* COLOR ELEMENTS
=============================
=============================*/
.glow { @include text-shadow(0 0 0.1rem #fff, 0 0 .1rem rgba(255,255,255,.5), 0 0 1.2rem #fff); }
.blue { color:#36c; }


/* Type
=============================
=============================*/
h2 { font-weight:900; letter-spacing:.4rem; text-transform:uppercase; }
p { font-family:'payson'; }




/* Progress
=============================
=============================*/
progress {
	height: .6rem;
	//margin: 50px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: black;
	border-radius: 4px;
	padding: 2px;
	//box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 4px;
	//box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 13%, rgba(0, 0, 0, 0.1) 13%, rgba(0, 0, 0, 0.1) 16%, transparent 16%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, $primary-blue, $accent-blue);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

/* Prefix-free was creating issues with the animation */





   


/* Header
=============================
=============================*/
#wrapper { padding-top:1rem; }
#socials { margin:0; 
	a { @include transition(all .1s ease-out); display:block; }
	a:hover { @include transform(scale(1.2)); }
}
#site-name { margin-bottom:1rem; }
#logo { width:3rem; margin:0 auto; }




/* Elements
=============================
=============================*/

.column-block { 

	.chapter-number { text-align: left; position: absolute; font-size: 1.5rem; letter-spacing: 0.5rem; top: 0.25rem; left: 1rem; }
	.locked-text { text-align: left; position: absolute; font-size: 1rem; letter-spacing: 0.25rem; text-transform: uppercase; bottom:1rem; left: 1rem; @include opacity(.4); }
	.lock-icon { width: 100%; height: 100%; color: $tertiary-color; font-size: 3rem; text-align: center; position: absolute; top: 0; left: 0; padding-top: 20% }
	
	&.unlocked {
		.chapter-number { text-align: left; color: $main-color; }
	}
	&.locked{
		.chapter-number { @include opacity(.4); }
	}

	.merch-inner { @include transition(all .2s ease-out); 
		&:hover { @include transform(scale(1.02)); }
	}

	.inner { background-size: cover; background-repeat: no-repeat; background-position: center; color: $main-color; position: relative; width: 100%; height:18rem; display: table; font-weight:700; @include transition(all .2s ease-out);
		
		.content-container { position:absolute; width:100%; height:100%; left:0; top:0; @include transition(all .2s ease-out); }
		.content-container.locked { opacity:0; }
		.content-container.instructions { opacity:1; }
		
		
		

		.action-link { text-align: center; width: 100%; text-transform: uppercase; font-size: 1.2rem;
			.button { background-color: rgba(67, 82, 108, .8); font-family:$title-font; border:none; @include text-shadow(0 0 0.1rem #fff, 0 0 .1rem rgba(255,255,255,.5), 0 0 1.2rem #fff); }
			.button:hover { background-color:rgba(255,255,255,.9); color:$black; border:none; }
			a { color: $main-color; }
	 	}
	 	.unlock-text { text-transform:uppercase; letter-spacing:.2rem; font-size:1.2rem; }
	 	.social-number { font-weight:900; letter-spacing:.3rem; font-size:1.9rem; line-height:0; margin-left:1rem;}	
		progress { width: 100%; text-align: center; left: 0; position: absolute; bottom: 0.5rem; border-radius: 0; }
	
		//For social warfare button styling
		.nc_socialPanel {  height:auto; margin:0 auto;
			.nc_tweetContainer { background:none !important; height:auto; border:none !important; overflow:visible; margin:0 auto; }
			span.swp_count { font-family:$title-font; font-size: 1.4rem !important; line-height: 1; text-align: center; color:$white; @include text-shadow(0 0 0.1rem #fff, 0 0 .1rem rgba(255,255,255,.5), 0 0 1.2rem #fff); }
			span.swp_share { font-family:$title-font; font-size: 1.4rem !important; line-height: 1.9rem; font-weight:700; }
			.iconFiller { width:auto !important; height:auto !important; }
			span.spaceManWilly { width:auto !important; 
				i { display:none; }
			}
			a { background-color: rgba(67, 82, 108, .8); font-family:$title-font; height:auto !important; border:none; display: inline-block; vertical-align: middle; margin: 0 0 0.5rem 0; padding: 0.5em 1.3em; -webkit-appearance: none; border: 1px solid rgba(0, 0, 0, 0); border-radius: 0.2rem; transition: background-color 0.25s ease-out, color 0.25s ease-out; font-size: 1.4rem; line-height: 1; text-align: center; cursor: pointer; border:none; }
			a:hover { background-color:rgba(255,255,255,.9); color:$black; border:none; 
				span.swp_share { color:$black; }
				i { color:$black; }
			}

		}

		.instagram-desktop .action { display:none; background:none !important; color:$white !important; cursor:default; }
	}

	.gform_fields { margin:0; 
		.gfield { width:80%; margin:0 auto; }
		.gfield_error input { background-color:$primary-blue; }
	}
	.validation_error { display:none; }
	.gform_footer {
		.gform_button { background-color: rgba(67, 82, 108, .8); font-family:$title-font; border:none; @include text-shadow(0 0 0.1rem #fff, 0 0 .1rem rgba(255,255,255,.5), 0 0 1.2rem #fff); color:$white;
			&:hover { background-color:rgba(255,255,255,.9); color:$black; border:none; }
		}
	}

			
}



.fullscreen-modal {
	color: $main-color;
	width: 100%;
	height:100%;
	top: 0px !important;
	left: 0px !important;
	margin: 0px 0px 0px 0px !important;
	.button{ margin:0;
		border: 1px; border-style: solid; border-radius: 3px;
		&.red{ color: $accent-red; }
		&.blue{ color: $accent-blue; }
	}

	.large-number { font-size:3rem; }

	img { width:100%; }

	.music-button { padding:0.3rem 1.2rem; margin:0rem;
		h3 { display:inline-block; text-transform:uppercase; font-size:1.4rem; vertical-align:middle; margin-left:1rem; }
		h3 span { display:block; }
	}

	.back-button { color:$dark-gray;  letter-spacing:.6rem; font-size:2rem; text-transform:uppercase; font-weight:900; cursor:pointer; 
		&:hover { color:$white; }
	}

	.close-button { z-index:999; top:0; }

	//Socials
	.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_fb, body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_fb:not(:hover), html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_fb:hover,
	.nc_socialPanel.swp_flatFresh.swp_d_fullColor .twitter, body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .twitter:not(:hover), html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .twitter:hover { border:2px solid $primary-color; border-width:2px !important; }
	.nc_socialPanel.swp_d_fullColor .swp_fb, body .nc_socialPanel.swp_o_fullColor:hover .swp_fb, html body .nc_socialPanel.swp_i_fullColor .swp_fb:hover,
	.nc_socialPanel.swp_d_fullColor .twitter, body .nc_socialPanel.swp_o_fullColor:hover .twitter, html body .nc_socialPanel.swp_i_fullColor .twitter:hover { background:none !important; }
	span.swp_share { font-family:$title-font; }
	.nc_socialPanel .sw { color:$primary-blue; font-size:1.3rem;  }


}	

		

/* Footer
====================================================================
====================================================================*/
footer { 
	span { margin-left:.5rem; color:$dark-gray; }
}










