
// ADDITIONAL COLORS
$tertiary-color: map-get($foundation-palette, tertiary); 
$quaternary-color: map-get($foundation-palette, quaternary); 

// LOOP SAMPLE
//$colors-list: primary secondary tertiary quaternary;
//$colors-value: $primary-color $secondary-color $tertiary-color $quaternary-color;
//
//
//@for $i from 1 through length($colors-list) {
//    $current-color: #{nth($colors-list, $i)};
//
//    &.#{$current-color} { 
//        .class-name {
//            color: nth($colors-value, $i); 
//        }
//    }
//
//}


/* General
====================================================================
====================================================================*/

// SELECTION
::-moz-selection { color:$white; background:$black; }
::selection { color:$white; background:$black; }



/* Backgrounds
=============================
=============================*/

//.bg {
//    
//}


/* Utilities
=============================
=============================*/

*:focus { outline:none; }

.row {
    &> .columns, .column { z-index:9; }
    &.row-full { max-width:100%; }
}

.valign-container { display:table; table-layout: fixed;
    &> .valign { display:table-cell; vertical-align: middle; }
}

svg { width:100%; }

.visually-hidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }


.visually-hidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0;  }

.full-height { height:100%; }
.full-width { width:100%; }

.image { transition: all .2s ease-out; }

.cover { background-size:cover; background-position: center center; background-repeat: no-repeat; }

.padding-wide { padding-bottom:70%; }
.padding-square { padding-bottom:100%; }

.position-relative { position:relative; }
.position-absolute { position:absolute; }

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

.hide {display: none; }
.show { display: block;}

.underline { text-decoration: underline; }

.inline-block { display:inline-block; }

.overflow-hidden { overflow: hidden; }

.img-circle { border-radius: 50%; }

.no-select { -webkit-touch-callout: none;  -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.float-left { float: left; }
.float-right { float: right; }

// absolute on tiny screens + relative on larger screens
.tiny-absolute-large-relative,
.tiny-absolute-medium-relative { position:absolute; }

// relative on tiny screens + absolute on larger screens
.tiny-relative-large-absolute,
.tiny-relative-medium-absolute { position:relative; }

.tiny-columns-1 { @include column-count(1); @include column-gap($global-margin*2); }
.tiny-columns-2 { @include column-count(1); @include column-gap($global-margin*2); }
.tiny-columns-3 { @include column-count(1); @include column-gap($global-margin*2); }



section, footer { 
    &.padding-top { padding-top: $global-padding*2; }
    &.padding-bottom { padding-bottom: $global-padding*2; }
    &.increased-padding {
        &.padding-top { padding-top: $global-padding*4; }
        &.padding-bottom { padding-bottom: $global-padding*4; }
    }
}

.gradient { position:absolute; bottom:0; left:0; width:100%; height:8rem; z-index:9999;
    .gradient-top {  @include linear-gradient( 'to top', $black, rgba($black,.6), rgba($black,.3),rgba(0,0,0,0));  }
    .gradient-bottom { @include linear-gradient( 'to bottom', $black, rgba($black,.6), rgba($black,.3),rgba(0,0,0,0)); }
}

.overlay { background-color:rgba(0,0,0,.4); }

.undistruptive { pointer-events: none; }

.grab-cursor { cursor: move; cursor: -moz-grab; cursor: -webkit-grab; }
.grabbing-cursor { cursor: -moz-grabbing; cursor: -webkit-grabbing; }


/* COLOR ELEMENTS
=============================
=============================*/
$colors-list: primary secondary tertiary quaternary white black light-gray medium-gray dark-gray red;
$colors-value: $primary-color $secondary-color $tertiary-color $quaternary-color $white $black $light-gray $medium-gray $dark-gray $red;

@for $i from 1 through length($colors-list) {
   $current-color: #{nth($colors-list, $i)};

   .text-#{$current-color} { 
        color: nth($colors-value, $i); 
   }
   //  .button {
   //      &:{$current-color} { 
   //          background-color:darken(nth($colors-value, $i),10%) !important; @include transition(.2s all);  @include shadow(0 1px 5px rgba(0,0,0,.4)); position:relative; border:none;
   //          @include linear-gradient( 180deg, nth($colors-value, $i), rgba(nth($colors-value, $i),.8), rgba(nth($colors-value, $i),.5),rgba(0,0,0,0));
   //          color: $white; 
   //          //border-color: nth($colors-value, $i); 
   //          &:hover { background-color:lighten(nth($colors-value, $i),10%) !important; @include transform(scale(1.03)); @include shadow(0 4px 16px rgba(0,0,0,.3)); top:-.1rem; }
   //     }
   // }

   .bg-#{$current-color} {
        background-color:  nth($colors-value, $i);
   }

    .bg-40-#{$current-color} {
        background-color: rgba( nth($colors-value, $i), .4);
   }

   .link-#{$current-color} {
       a { color: nth($colors-value, $i); }
   }

}


blockquote {
    q { display:block; font-style: italic; margin-bottom:$global-margin*2; }
    footer { text-transform: uppercase; }
}

.text-area {
    p {
        &:last-child { margin-bottom:0; }
    }
    .button { margin-bottom:0; }
}

hr { margin:0 0 $global-margin*2; }

.diamond-container { display:inline-block; margin:0 auto; position: relative;
    .diamond { position:relative;  width:5px; height:5px; background-color:transparent; border: 1px solid $primary-color; transform:rotate(-45deg); display:block; 
    }
    &::after { display: block; width:100px; height:1px; background-color:$primary-color; content:''; position:absolute; top:2px; left:-48px; }
}

.content-margin-large { margin-bottom: $global-margin*2; }
.content-margin-xl { margin-bottom: $global-margin*2; }
.content-margin { margin-bottom: $global-margin; }
.content-margin-small { margin-bottom: $global-margin; }
.content-margin-tiny { margin-bottom: $global-margin/2; }
.content-margin-tiniest { margin-bottom: $global-margin/4; }

.no-margin { margin:0; }

.padding-large { padding: $global-padding*2; }
.padding { padding: $global-padding; }
.padding-small { padding: $global-padding/2; }
.padding-tiny { padding: $global-padding/8; }
.padding-tiniest { padding: $global-padding/12; }

.full-absolute { position:absolute; width:100%; height:100%; top:0; left:0; }
.bottom-absolute { position:absolute; width:100%; bottom:0; left:0; }

.transition { @include transition(all .2s ease-out); }
.full-height { height:100%; }
.full-width { width:100%; }
.wide { padding-bottom:66.6%; }
.mid-wide { padding-bottom:80%; }
.tall { padding-bottom:140%; }
.mid-long { padding-bottom:30%; }
.long { padding-bottom:32.3%; }
.square { padding-bottom:100%; }
.cover { background-size:cover; background-position: center center; background-repeat: no-repeat; }
.inline-block { display:inline-block; vertical-align: middle; }

.tiny-columns-1 { @include column-count(1); @include column-gap($global-margin*2); }
.tiny-columns-2 { @include column-count(2); @include column-gap($global-margin*2); }
.tiny-columns-3 { @include column-count(3); @include column-gap($global-margin*2); }



.mask {
    //@include mask-image(url('/wp-content/themes/vail/images/mask-new-darker.png')); 
}

section {
    //margin-bottom:$global-margin*2;
}

