// Responsive
@include breakpoint(small up) {
    
    .small-columns-2 { @include column-count(2); }
    
}

@include breakpoint(small only) {
	
    
    
}

@include breakpoint(small down) {

    // general
    .banner-content { min-height: 15rem; }

    .text-area{
        p { line-height: 1.4; }
    }

    // fix this
    .small-text-center { text-align: center; }
    .text-center-small { text-align: center; }

   
}



/*
========================================================================================================
========================================================================================================
========================================================================================================
*/

@include breakpoint(medium up) {

    /* Header 
    =============================*/
    #logo { width: 4rem; position: absolute; left: 1rem; top: 4rem;  }

    #site-name {  width: 100%; text-align: center; position: absolute; top: 4rem; right:0; 
        h1 { font-size: 4rem; }
    }

    #socials { width: 10rem; position: absolute; right: 1rem; top: 4rem }

    .chapter-name { width: 100%; text-align: center; position: absolute; top:4rem; left:0;
        h1 { line-height: normal; }
    }

    .large-number { width: 4rem; position: absolute; left: 2rem; top: 3rem; color: $main-color; font-size: 3rem; letter-spacing: .5rem; }

    /* Main Page
    =============================*/
    .column-block .inner { padding-bottom:70%; height: 0; 
        .social-metric i { width:0; height:0; @include transition(all .2s ease-out); }
        .content-container.locked { opacity:1; }
        .content-container.instructions { opacity:0; }
        &:hover { @include transform(scale(1.02)); 
            .content-container.locked { opacity:0; }
            .content-container.instructions { opacity:1; 
                .social-metric i { width:4rem; height:4rem; font-size:2rem; }
            }
            .chapter-number { @include opacity(1); }
        }
    }


    /* Single Page
    =============================*/
    #single-content { margin-top:8rem; }


    .fullscreen-modal {
        .music-button { padding:0.3rem 3rem; margin:0 1rem; }
    }




    /* Buttons
    =============================*/
    .button { 
        &:hover { cursor: pointer; color: $secondary-color; border-color: $secondary-color; }
    }
    .button-tertiary { 
        &:hover { cursor: pointer; color: $white; background-color: rgba($white, .65); border-color: rgba($white, .65); }
    }
    
    /* General
    =============================*/
    .banner-content { min-height: 20rem; }

    .content-margin-huge {margin-bottom: $global-margin*3; }
    .content-margin-large { margin-bottom: $global-margin*4; }
    .content-margin-xl { margin-bottom: $global-margin*4; }

    .medium-up-padding-xl { padding: $global-padding*4; }
    .padding-huge {padding: $global-padding*3; }
    .padding-xl { padding: $global-padding*2.5; }

    .medium-columns-2 { @include column-count(2); }
    .medium-inline { display: inline-block; margin:0; vertical-align: middle; }

    .fa-search { font-size: 3rem !important; }
    
   
} //end medium up


@include breakpoint(medium down) {



}

@include breakpoint(medium only) {
  
    
    
}



/*
========================================================================================================
========================================================================================================
========================================================================================================
*/

@include breakpoint(large up) {


    // .banner-content { min-height: 30rem; }

   #logo { left: 2rem; }
    #site-name { top: 4rem; }
    #socials { right: 2rem; }




}

// @media screen only (min-width:900px) and (max-width:1000px;) {
    
// }

@include breakpoint(large only) {
    
}



/*
========================================================================================================
========================================================================================================
========================================================================================================
*/

    @include breakpoint(xlarge up) { }
    @include breakpoint(xlarge only) { }




/*
========================================================================================================
========================================================================================================
========================================================================================================
*/




@include breakpoint(xxlarge up) { }
@include breakpoint(xxlarge only) { }